

.container_menu-title > h1{
   color: blue;
   margin-top: 15px;
   margin-bottom: 15px;
   font-size: 130px;
   font-family: 'segoe UI';
   margin: auto;
   display: flex;
   justify-content: center;
}
