.container_content{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    text-align: center;
}
.content_title{
    text-decoration: underline;

}
.content_cover > img{
    margin-top: 10px;
    border: 5px solid black;
    border-radius: 5px;
   width: 500px;
   min-width: 500px;
   height: 300px;

}

.content_description{
    margin-top: 10px;
}

.content_description > p{
    margin-bottom: 20px;
    color: rgb(121, 121, 121);
}